{
  "ip":            "<ip>",
  "ssh_port":      "<ssh_port>",
  "user":          "<user>",
  "password":      "<password>",
  "shared_path":   "<target-lib-path>",
  "bin_path":      "<target-bin-path>",
  "project_path":  "<project-home-path>",
  "toolchain":     "<tool-chain-name>",
  "strip_tool":     "<tool-chain-strip-name>",
  "toolchain_path": "<tool-chain-path>"
}
